body {
    font-family: 'Montserrat', sans-serif;
}

.heading-primary {
    font-family: 'Fjalla One', sans-serif;
    font-size: 5.5rem;
    font-weight: 100;
    letter-spacing: .05rem;
    line-height: 1.1;
    color: $color-green-light-4;

    @media only screen and (min-width: $bp-largest) {
        font-size: 8rem;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 4.5rem;
        text-align: center;
    }
}

.heading-secondary {
    color: $color-green-dark-2;
    font-size: 1.6rem;

    &--light {
        line-height: 1.5;
        color: $color-green-light-4;
    }

    &--small {
        font-size: 1.2rem;
    }

    @media only screen and (min-width: $bp-largest) {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    @media only screen and (max-width: 465px) {
        line-height: 1.75;
        text-align: center;
    }
}

.heading-tertiary {
    font-size: 1.4rem;
    color: $color-green-dark-4;
    line-height: 1.75;
    text-align: center;

    @media only screen and (min-width: $bp-largest) {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.4rem;
    }

    &--light {
        color: $color-green-light-4;
    }

    &--thin {
        font-weight: 100;
        font-size: 1.4rem;
    }
}

.paragraph {
    font-size: 1.2rem;
    color: $color-green-light-4;
    line-height: 1.75;
    transition: all .2s;

    @media only screen and (min-width: $bp-largest) {
        font-size: 1.7rem;
        line-height: 2.1rem;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.1rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1rem;
    }

    @media only screen and (max-width: $bp-mobile) {
        font-size: .8rem;
    }

    &:hover {
        color: $color-green-light-2;
    }

    &--small {
        font-size: 1.2rem;
        line-height: 1.75;

        @media only screen and (min-width: $bp-largest) {
            font-size: 1.5rem;
        }

        &:hover {
            color: $color-green-light-4;
        }
    }
}

.heading-table {
    font-size: 1.2rem;
    color: $color-green-light-2;
    line-height: 1.5;

    @media only screen and (min-width: $bp-largest) {
        font-size: 1.6rem;
    }
}

.popup-text {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.5;
    color: $color-ebony-dark3;

    &--bold {
        font-weight: 700;
    }
}

.legend-title {
    color: $color-middle-green-dark3;
}


