// COLORS

$color-light: #FFEBD5;
$color-light-2: #ffe6cc;

$color-green-dark-1: #00150C;
$color-green-dark-2: #002B17;
$color-green-dark-3: #054427;
$color-green-dark-4: #264C00;

$color-green-light-1: #317D5B;
$color-green-light-2: #749453;
$color-green-light-3: #4E7426;
$color-green-light-4: #A6BC8F;
$color-green-focus: #edf3e6;



//COLOR PRIMARY 
$color-middle-green-light1: hsl(120, 22%, 60%);
$color-middle-green-light2: #77A776;
$color-middle-green-light3: #6BA06A;
$color-middle-green-main: #5B8C5A;
$color-middle-green-dark1: #588958;
$color-middle-green-dark2: #507C50;
$color-middle-green-dark3: #487048;

//COLOR SECONDARY
$color-khaki-light1: #E2E3B5;
$color-khaki-light2: #DCDDA6;
$color-khaki-light3: #D6D897;
$color-khaki-main: #CFD186;
$color-khaki-dark1: #CBCD7A;
$color-khaki-dark2: #C5C76B;
$color-khaki-dark3: #C0C15C;

//COLOR TERTIARY
$color-ebony-light1: #778174;
$color-ebony-light2: #6D766B;
$color-ebony-light3: #636B61;
$color-ebony-main: #596157;
$color-ebony-dark1: #4F564E;
$color-ebony-dark2: #454B44;
$color-ebony-dark3: #3B403A;

//COLOR NEUTRAL
$color-black: #000;
$color-white: #fff;
$color-gray-light2: #F4F6F4;
$color-gray-light3: #E9EDEA;
$color-gray-main: #DDE3DF;
$color-gray-dark1: #D2DAD2;





// FONT
$default-font-size: 1.6rem;

@font-face {
  font-family: 'HVM', 'Lato', sans-serif;
  src: url('../../../public/css/fonts/HerrVonMuellerhoff-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

// FONT AWESOME

$fa-font-path:                "../../img/webfonts"; 